body {
  font-family: 'Cabin', sans-serif;
  font-size: 16px;
  color: #54585E;
}

.customGreen {
  color: #3CC76A;
}

.white, .white:hover {
  text-decoration: none;
  color: white;
}

.progressbar {
  width: 100%;
}

.navbar {
  border-radius: 0 !important;
}

.logo {
  padding-top: 12px;
}

.jumbotron {
  border-radius: 1000px;
}

.block-label {
  display: block;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.pendingProject {
  border-style: solid;
  border-color: #464646;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 20px;
}

.btn-padding {
  margin-top: 8px;
  margin-left: 15px;
  margin-bottom: 8px;
}

.title-padding {
  margin-top: 4px;
  margin-botton: 2px;
}

.header-padding {
  margin-bottom: 20px
}

.jumbotron1 {
  padding: 30px 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #f9f9f9;
  text-align: center;
  background-size: 100% 100%;
  background-image: url(../assets/landing.png);
  border-radius: 10px;
}

.front {
  font-size: 17px;
}

.createProject {
  padding: 10px;
}

h1.border {
  font-size: 75px;
}

p.border{
  font-size: 25px;
}

h3 {
  padding-bottom: 20px;
}

.selected {
  text-align: center;
}

.testcolor1 {
  background-color: #b2b2b1;
}

.testcolor3 {
  background-color: #2222ff;
}

.viz-block {
  background-color: #54585E;
  width: 100%;
  height: 500px;
  text-align: center;
  margin-bottom: 20px;
  border-radius: 5px;
}
  
.lines {
}

.circles {
}

.viz-placeholder {
  width: 100%;
  height: 500px;
  opacity: 0;
}

/* Yellow block */
#visualizer {
  width: 100%;
  height: 500px;
  vertical-align: middle;
}

/* Pink block */
.svg-block {
  margin: 0 auto;
}

.scroll-block {
  overflow-y: scroll;
}

.vertAlign {
  vertical-align: center;
}

.btn-size {
  width: 100px;
}

.user-viz {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}

.svg-content {
  display: inline-block;
  position: relative;
  top: 0;
  left: 0;
}

.user-container {
  border-style: solid;
  border-color: #464646;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 20px;
}

.stats {
  border-style: solid;
  border-color: #464646;
  border-radius: 5px;
  border-width: 2px;
  margin-bottom: 20px;
  padding: 5px;
}
