body {
  font-family: 'Roboto', sans-serif;
}

.customGreen {
  color: #3CC76A;
}

.white, .white:hover {
  text-decoration: none;
  color: white;
<<<<<<< 1fb592d1e924f5ec74cc7103b5355cf66d6fbdf9
}

.progressbar {
  width: 600px;
=======
>>>>>>> basic
}