body {
  font-family: 'Roboto', sans-serif;
}

.customGreen {
  color: #3CC76A;
}

.white, .white:hover {
  text-decoration: none;
  color: white;
}

.progressbar {
  width: 600px;
}

.navbar {
  border-radius: 0 !important;
}

.logo {
  padding-top: 8px;
}

.jumbotron {
  border-radius: 1000px;
}

.block-label {
  display: block;
}